<template>
    <div>
        <h1 class="mb-4">The App</h1>
        <currency-form></currency-form>
        <history :user="user" />
    </div>
</template>

<script>
import currencyForm from "./components/currencyForm.vue";
import history from "./components/History.vue";
export default {
    props: ["user"],
    components: {
        currencyForm,
        history
    },
    data() {
        return {};
    }
};
</script>
