<template>
    <div class="p-6 bg-white border-b border-gray-200">
        <div v-if="loading">Loading...</div>
        <div v-else>
            <div class="grid grid-cols-2 gap-6">
                <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-6 sm:col-span-3">
                        <label
                            for="from"
                            class="block text-sm font-medium text-gray-700"
                            >From</label
                        >
                        <select
                            id="from"
                            name="from"
                            :disabled="isJson"
                            v-model="convert.from"
                            class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                        >
                            <option
                                v-for="(currency, index) in currencies"
                                :key="index"
                                :value="currency"
                                >{{ currency }}</option
                            >
                        </select>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label
                            for="to"
                            class="block text-sm font-medium text-gray-700"
                            >To</label
                        >
                        <select
                            id="to"
                            name="to"
                            :class="borderClass('to')"
                            v-model="convert.to"
                            class="mt-1 block w-full py-2 px-3 border bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                        >
                            <option
                                v-for="(currency, index) in currencies"
                                :key="index"
                                :value="currency"
                                >{{ currency }}</option
                            >
                        </select>
                        <p
                            v-if="hasError('to')"
                            class="text-red-600 text-xs mt-2"
                        >
                            Please choose different currency
                        </p>
                    </div>
                    <div class="col-span-6 sm:col-span-3">
                        <label
                            for="amount"
                            class="block text-sm font-medium text-gray-700"
                            >Amount</label
                        >
                        <input
                            type="text"
                            name="amount"
                            id="amount"
                            :class="borderClass('amount')"
                            v-model="convert.amount"
                            class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm rounded-md"
                            placeholder="Enter amount"
                        />
                        <p
                            v-if="hasError('amount')"
                            class="text-red-600 text-xs mt-2"
                        >
                            Please provide a valid amount
                        </p>
                    </div>

                    <div class="col-span-6 sm:col-span-3">
                        <label
                            for="date"
                            class="block text-sm font-medium text-gray-700"
                            >Date</label
                        >
                        <input
                            type="date"
                            name="date"
                            v-model="convert.date"
                            id="date"
                            :class="borderClass('date')"
                            class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm rounded-md"
                        />
                        <p
                            v-if="hasError('date')"
                            class="text-red-600 text-xs mt-2"
                        >
                            Date must be today or before
                        </p>
                    </div>
                    <div class="col-span-6 sm:col-span-6 text-right">
                        <button
                            :disabled="retrieving || !currencies"
                            @click.prevent="getConversion"
                            type="button"
                            class="d-flex justify-center disabled:opacity-50 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
                        >
                            <span v-if="retrieving"
                                ><i class="fas fa-spinner fa-spin"></i
                            ></span>
                            Convert
                        </button>
                    </div>
                </div>

                <div class="text-center result">
                    <h4>Result</h4>
                    <div v-if="retrieving">
                        <i class="fas fa-spinner fa-spin"></i>
                    </div>
                    <span v-else>
                        <h5 class="text-green-700">{{ displayResult }}</h5>
                        <h5 class="text-gray-400">{{ displayRate }}</h5>
                        <h5 class="text-red-400" v-if="hasError('server')" v-html="errors['server']"></h5>
                        <h5 class="text-red-400" v-if="hasError('currencies')" v-html="errors['currencies']"></h5>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { hasParam } from "../utils/query";
export default {
    data() {
        return {
            convert: {
                from: "USD",
                to: "EUR",
                amount: 100,
                date: this.now()
            },
            currencies: null,
            loading: false,
            retrieving: false,
            errors: [],
            response: null
        };
    },
    computed: {
        
        displayRate() {
            return this.hasResult
                ? "Conversionrate: " +
                      parseFloat(this.response.result.conversionRate).toFixed(4)
                : "";
        },
        hasResult() {
            return this.response && typeof this.response.result !== "undefined";
        },
        displayResult() {
            let result;
            if (this.hasResult) {
                result = parseFloat(
                    this.response.result.conversionAmount
                ).toFixed(2);
                return `${this.response.amount} ${this.response.from} = ${result} ${this.response.to}`;
            } else {
                return "";
            }
            
        },
        isJson() {
            return hasParam("json");
        },
        displayError() {
            return (
                (this.response && !this.response.result) ||
                (this.currencies && !this.currencies.length)
            );
        },
        queryParam() {
            return this.isJson ? "?json=1" : "";
        }
    },
    methods: {
        is500(response){
            if (response.status === 500) {
                return this.errors["server"] = "<p>Could not load from resource.</p>"+
                "<a class='text-gray-400' href='/'>Try again</a>";
            }
        },
        hasError(field) {
            return this.errors[field];
        },
        borderClass(field) {
            return this.errors[field] ? "border-red-600" : "border-gray-300";
        },
        async getConversion() {
            await this.conversion();
            if (this.response) {
                this.$root.$emit("feedUpdate");
            }
        },
        conversion(onload) {
            this.errors = [];
            this.retrieving = true;
            this.response = null;
            this.convert["first_load"] = true == onload;
            return axios
                .post("/service/convert" + this.queryParam, this.convert)
                .then(res => {
                    if (res.status === 200) {
                        this.response = res.data.response;
                    }
                })
                .catch(err => {
                    if (err.response.status === 422) {
                        return (this.errors = err.response.data.errors);
                    }else{
                        this.is500(err.response);
                    }
                })
                .then(() => {
                    this.retrieving = false;
                });
        }
    },
    created() {
        this.loading = true;
        axios
            .get("/currencies" + this.queryParam)
            .then(response => {
                if (!response.data.currencies || !response.data.currencies.length) {
                    return this.errors["currencies"] = "Could not retrieve currencies";
                }
                this.currencies = response.data.currencies;
                this.conversion(true);
            })
            .catch(err => {
                console.log(err.response)
                this.is500(err.response);
            })
            .then(() => {
                this.loading = false;
            });
    }
};
</script>
<style scoped>
h4 {
    font-size: 1.2rem;
}
.result span {
    display: block;
    margin-top: 2em;
}
</style>
