<template>
    <div class="p-6 bg-white border-b border-gray-200 mt-3">
        <div v-if="loading">Loading...</div>
        <div v-else>
            <h3 class="text-xl font-medium">History</h3>
            <div class="grid grid-cols-1 gap-6">
                <ul class="mt-3 text-red-800 text-sm">
                    <li
                        v-for="feed in history"
                        :key="feed.id"
                        class="my-1 p-1"
                        :class="{
                            'text-gray-500 ': feed.id % 2 == 0,
                            'bg-gray-100': feed.id % 2 !== 0
                        }"
                        v-html="feed.feed"
                    ></li>
                </ul>
            </div>
            <div v-if="error" class="text-gray-400">{{ error }}</div>
        </div>
    </div>
</template>

<script>
export default {
    props: ["user"],
    data() {
        return {
            loading: false,
            history: null,
            error: null
        };
    },
    methods: {
        getFeed() {
            if(!this.user) return this.error = "Register for an account or login to view your history";
            axios
                .get("/history")
                .then(res => {
                    if (
                        res.data.error &&
                        res.data.error === "Unauthenticated"
                    ) {
                        this.error =
                            "Register for an account or login to view your history";
                    } else {
                        if (res.data.length > 0) {
                            this.history = res.data;
                        }
                    }
                })
                .catch(err => console.log(err.response));
        }
    },
    mounted() {
        this.$root.$on("feedUpdate", () => {
            if (this.user) this.getFeed();
        });
    },
    created() {
        this.getFeed();
    }
};
</script>
